<header>
  <nav>

    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-4">
        <img class="d-block bigLogo" src="../assets/images/logoBig.jpg" alt="Logotype of the shop" title="SEEN logo">
      </div>
      <div class="col-3">
        <h2>Cart:</h2>
        <p *ngFor="let singleMovie of cart">
            Name: {{singleMovie.movie.name}}<br>
            Amount: {{singleMovie.amount}} <br>
        </p>
      </div>
    </div>
    <!-- gör en liknande sen:
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <a routerLink="/details" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Details</a>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a> -->
  </nav>
</header>
