<footer class="row align-items-end footer" role="contentinfo">
  <div class="col-12 text-center">
    <div class="brandIcons">
      <a href="https://facebook.com" target="_blank"><i class="facebookIcon fab fa-facebook-square mr-3"
          aria-label="Facebook icon"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="instagramIcon fab fa-instagram mr-3"
          aria-label="Instagram icon"></i></a>
      <a href="https://www.imdb.com" target="_blank"><i class="imdbIcon fab fa-imdb" aria-label="IMDB icon"></i></a>
    </div>
    <p class="footerText">Copyright &copy; 2019 SEEN</p>
  </div>
</footer>
