<div class="finishContainer">
  <div class="row justify-content-center">

    <div class="col-10 finishIconContainer text-center">
      <i class="finishIcon far fa-check-circle"></i>
    </div>

    <div class="col-10 text-center">
      <h1>Tack för att du handlar hos oss!</h1>
      <p>Din beställning är nu mottagen och behandlas. Vi hoppas du ska bli nöjd med dina varor och hoppas på
        återseende.<br>
        Vi på SEEN önskar dig en fortsatt trevlig dag!
      </p>
      <a class="goToHomepageLink" routerLink="">Tillbaka till startsidan</a>



    </div>
  </div>


</div>
