<main role='main'>
  <article class="checkoutContainer">
    <section>

      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <h1>Kassan</h1>
          <hr>
        </div>

        <div class="col-8 col-md-6 col-lg-4">
          <h2 class="yourCart">Din varukorg</h2>
          <div class="cartInfo" *ngFor='let singleMovie of cart'>
            <div class="row justify-content-center">
              <div class="col-6">
                <img class="cartMovieImage" src="{{singleMovie.movie.imageUrl}}" alt="{{singleMovie.name}}" />
              </div>
              <div class="col-6">
                <p>
                  <strong>{{singleMovie.movie.name}}</strong>
                  {{singleMovie.movie.price}}:-/st
                </p>
                <p>
                  Antal:
                  <i class='subtractIcon fas fa-minus-circle'
                    (click)='deleteOneMovieFromCart(singleMovie.movie.id)'></i>
                  {{singleMovie.amount}}
                  <i class='addIcon fas fa-plus-circle' (click)='addSingleMovieToCart(singleMovie.movie)'></i>
                  {{singleMovie.totalPrice}}:-
                </p>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-10 text-center">
          <p class="totalSum"><strong>Total summa: {{totalSum}}:-</strong></p>
        </div>
      </div>
    </section>


    <section>
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <h2 class="paymentDetails">Dina uppgifter</h2>
        </div>
        <div class="col-8 col-md-6 col-lg-4 text-center formContainer">

          <form [formGroup]="orderForm" #formDir="ngForm" (ngSubmit)="postOrder()">
            <label class="mailLabel" for="email">Mejladress</label>
            <input name="email" type="text" formControlName="emailAdress" class="mailInput">

            <div
              *ngIf="orderForm.get('emailAdress').invalid && (orderForm.get('emailAdress').dirty || orderForm.get('emailAdress').touched || formDir.submitted)">
              <div *ngIf="orderForm.get('emailAdress').errors.required">
                <p class="errorMessage">Du måste fylla i mejladress</p>
              </div>
              <div *ngIf="orderForm.get('emailAdress').errors.email">
                <p class="errorMessage">Du måste skriva in en mejladress</p>
              </div>
            </div>

            <label class="paymentLabel" for="paymentMethod">Betalning</label>

            <i class="paymentIcon fab fa-cc-visa"></i>
            <i class="paymentIcon fab fa-cc-mastercard"></i>
            <i class="paymentIcon fab fa-cc-amex"></i>
            <i class="paymentIcon fab fa-cc-paypal"></i>

            <select class="paymentMethod" formControlName="paymentMethod">
              <option selected="selected" value="">Betalningsmetod:</option>
              <option value="card">Card</option>
              <option value="paypal">PayPal</option>
            </select>

            <div *ngIf="orderForm.get('paymentMethod').invalid && formDir.submitted">
              <div *ngIf="orderForm.get('paymentMethod').errors.required">
                <p class="errorMessage">Du måste välja betalningsmetod</p>
              </div>
            </div>

            <button class="finishOrderBtn" type="submit">Slutför ditt köp</button>
          </form>

        </div>
      </div>

    </section>

    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <a class="fas fa-backward goToHomepageIcon" routerLink=""></a>
      </div>
      <div class="col-10 text-center">
        <a class="goToHomepageLink" routerLink="">Tillbaka till startsidan</a>
      </div>
    </div>
    <div *ngIf="backToTop">
      <a (click)="scrollToTop()" class="backToTop"><i class="backToTopIcon fas fa-chevron-up"></i></a>
    </div>
  </article>
</main>
