<main role='main'>
  <article>
    <div class="errorContainer">
      <div class="row justify-content-center">

        <div class="col-10 errorIconContainer text-center">
          <i class="errorIcon fas fa-exclamation"></i>
        </div>

        <div class="col-10 text-center">
          <h1>404</h1>
          <p>
            Sidan kunde inte hittas. Felet kan bero på att du skrivit in fel adress i webbläsaren eller att sidan tagits
            bort.
          </p>
          <div class="link">
            <a class="goToHomepageLink" routerLink="">Tillbaka till startsidan</a>
          </div>
        </div>

      </div>
    </div>
  </article>
</main>
