<li>
  <div class="row justify-content-center">
    <div class="moviesFrame col-12 text-center">
      <a [routerLink]="['/details', movie.id]"><img class="movieImage" src="{{movie.imageUrl}}"
          alt="{{movie.name}}" /></a>
      <div class="addToCart">
        <p>
          <button (click)="addMovieToCart(movie)" type="button" class="addToCartBtn">Lägg till +</button>
          <button class="movieInfoBtn" [routerLink]="['/details', movie.id]">Mer info</button>
        </p>
      </div>
    </div>
    <br>
  </div>
  <div class="row align-content-between justify-content-center productInformation text-center">
    <div class="col-12">
      <h3>
        {{movie.name}}
      </h3>
      <p>
        {{movie.price}} sek/st
      </p>
    </div>
    <!-- vill göra en liknande som nedan för att komma till en ny url med bara info om den filmen vi klickat på -->
    <!-- <a [routerLink]="['/details', korven.id]" routerLinkActive="active">Mer info</a> -->
  </div>
</li>
