.image{
    object-fit: cover;
    height: 300px;
    width: 200px;
}

.frame{
    height: 300px;
    width: 200px;
    overflow: hidden;
}

li{
    list-style: none;
}

.productInformation{
    min-height: 100px;
}

.addToCartBtn{
    background-color: #ffdb6c;
}
