.detailContainer {
  padding: 10em 0;
}

.movieNameYear {
  margin-bottom: 1em;
}

.singleMovieImage {
  object-fit: cover;
  height: 400px;
  width: 260px;
}

.singleMovieFrame {
  overflow: hidden;
}

.movieDescriptionPrice {
  margin: 1em 0;
}

.addToCartBtn {
  background: #ffdb6c;
  margin: 0.2em;
  width: 100px;
  border: none;
  border-radius: 2px;
  color: #262626;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0.5em;
}

.goToHomepageIcon {
  margin-top: 2em;
  text-decoration: none;
  font-size: 2rem;
  color: darkgrey;
}

.goToHomepageLink {
  text-decoration: none;
  color: darkgrey;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.addToCartBtn:hover,
.goToHomepageIcon:hover,
.goToHomepageLink:hover {
  opacity: 0.3;
}


@media (min-width: 768px) {

  .singleMovieImage {
    height: 420px;
    width: 280px;
  }
}


@media (min-width: 992px) {

  .singleMovieImage {
    height: 430px;
    width: 290px;

  }
}
